@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track { 
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #80E2E2;
    
}
body{
    top:0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #e9ecef;
}

/*navbar style*/


.text-head{
    font-family: 'Montserrat', sans-serif;
}
.text-head-subtitle{
    line-height: 40px;
}
.logo{
    float: left;
}
.logo img{
    height: 25px;
    margin-left: 10px;
}
#btn-login-nav{
    width: 100px;
    background-color: transparent;
    border: 1px solid #36EC4E;
    padding: 5px;
    border-radius: 9999px;
}

/*head style*/
.menuitem{
    margin-left: 600px;
}
.content{
    background-image: url(../img/bg-landing.svg);
    width: 100%;
    height: 500vh;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: 50% 50%;
}


#btn-gabung{
    color: white;
    background-color: #443EFC;
    width: 200px;
    height: 40px;
    border-radius: 9999px;
    border: 1px solid cornflowerblue;
}

#btn-gabung:active{
    border: 1px solid #36EC4E;
    box-shadow: 0px 0px 10px #36EC4E;
}
#btn-gabung::before{
    content: "";
    width: 200px;
    height: 40px;
    background-color: whit e;
}

/* Content */

.card:hover{
    box-shadow: 10px 10px 30px grey;
}
.img-hover:hover{
    transform: scale(1.1);
}
@media only screen and (max-width: 600px) {
    .head{
        background-image: url(../img/background-gradient-mobile.png);
        width: 100%;
        top: 0;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100% 100%;
    }
    .illustration-img{
        display: none;
    }
    .menuitem{
        margin-left: 0px;
    }
    .btn{
        width: 80px;
        
    }
  }

  [data-scroll]{
      transition: transform 3s;

  }
  [data-scroll="in"]{
      transform: translateY(0);
  }
  [data-croll="out"]{
      transform: translateY(200px);
  }
  